@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* }
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--fooreground);
  color:black;
  font-family: "Montserrat", sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  pointer-events: none;
  border-radius: 50%;
  backdrop-filter: blur(17px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background: rgba(253, 250, 250, 0.079);
  border: 1px solid rgba(252, 251, 251, 0.089);
  mix-blend-mode: difference;
  z-index: 9999;
  transition: transform 0.15s ease-out, background 0.3s;

  box-shadow:
    0 0 6px rgba(87, 0, 164, 0.3),
    0 0 12px rgba(87, 0, 164, 0.4),
    0 0 20px rgba(87, 0, 164, 0.25);
}


.custom-cursor.hovering {
  box-shadow:
    0 0 10px rgba(87, 0, 164, 0.4),
    0 0 20px rgba(87, 0, 164, 0.5),
    0 0 35px rgba(87, 0, 164, 0.35);
  background: rgba(225, 221, 221, 0.105);
}

@media (max-width: 768px) {
  .custom-cursor{
    display: none;
  }
  .custom-cursor:hover{
    display: none;
  }
  table tr{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #b3b0b0;
    margin: 30px 0px;
    flex-direction: column;
  }
  table tr td:nth-child(2){
    width: fit-content;
    text-align: center;
  }
  table tr td:nth-child(3){
    text-align: center;
  }
  table tr td:nth-child(4){
    text-align: center;
  }
  tr td{
    padding: 10px!important;
  }

  .order{
    padding-top: 30px!important;
  }
  
}

@keyframes float-left {
  0%, 100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(-10px);
  }
}

@keyframes float-right {
  0%, 100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(4px);
  }
}

@keyframes float-glass {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-15px) scale(1.01);
  }
}

.bubble-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  animation: float-left 2s ease-in-out infinite;
}

.bubble-right {
  position: absolute;
  top: 6rem;
  right: 0;
  z-index: 0;
  animation: float-left 3s ease-in-out infinite;
}

.bubble-right-education {
  position: absolute;
  bottom: 0rem;
  right: 0;
  z-index: 0;
  animation: float-left 4s ease-in-out infinite;
}
.glass-float {
  position: absolute;
  top: 5rem;
  right: 5rem;
  z-index: 0;
  animation: float-glass 4s ease-in-out infinite;
}


.order{
  font-family: "Montaga", serif;
  font-weight: 600;
  color: #171717;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;


}

